* {
  padding: 0;
  margin: 0;
}

body header,
article,
footer {
  padding: 0 3.125rem;
}

a {
  text-decoration: none;
  color: black;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0px;
  height: 4.25rem;
}

header .left-placer {
  width: 0.75rem;
}

header .header__title-link .header__title {
  text-transform: uppercase;
  font-family: "Concert One", cursive;
  font-size: x-large;
  color: black;
}

header .header__title-link .header__links {
  display: none;
}

header .header__icon-login {
  display: none;
}

/* content */

/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f3142;
  color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer .footer__top .footer__title-links .footer__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Concert One", cursive;
  font-size: xx-large;
  color: white;
}

footer .footer__top .footer__title-links .footer__links {
  display: flex;
  flex-direction: column;
  margin-top: 0.75em;
}

footer .footer__top .footer__title-links .footer__links a {
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  margin: 0.5em 0;
}

footer .footer__top .footer__icons {
  margin: 2em 0;
}

footer .footer__top .footer__icons a {
  margin: 1em 1em;
}

footer .footer__top .footer__icons i {
  font-size: 1.25rem;
  color: white;
}

footer .footer__top .footer__icons i:hover {
  color: skyblue;
}

footer .footer__info {
  margin: 1em 0em;
}

footer .footer__info p {
  font-size: small;
  font-family: "Noto Sans KR", sans-serif;
}

@media screen and (min-width: 846px) {
  header .left-placer {
    display: none;
  }

  header .header__title-link {
    display: flex;
    align-items: flex-end;
  }

  header .header__title-link .header__title {
    margin-right: 1em;
  }

  header .header__title-link .header__links {
    display: flex;
  }

  header .header__title-link .header__links a {
    margin-left: 1.5em;
    font-family: "Noto Sans KR", sans-serif;
  }

  header .header__title-link .header__links a:hover {
    color: skyblue;
  }

  header .header__icon-login {
    display: flex;
    justify-items: flex-end;
  }

  header .header__icon-login i {
    color: gray;
    padding: 0.75em;
  }

  header .header__icon-login a {
    color: gray;
    padding: 0.5em 0.75em;
    margin-left: 1em;
    font-family: "Noto Sans KR", sans-serif;
  }

  header .header__icon-login i:hover,
  header .header__icon-login a:hover {
    color: skyblue;
    background-color: #eeeeee;
    border-radius: 64px;
  }

  header .header__menu {
    display: none;
  }

  /* footer */
  footer {
    align-items: unset;
    justify-content: space-between;
  }

  footer .footer__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  footer .footer__title-links {
    display: flex;
  }

  footer .footer__top .footer__title-links .footer__links {
    flex-direction: row;
    align-items: flex-end;
    margin-left: 3em;
  }

  footer .footer__top .footer__title-links .footer__links a {
    margin: 0 0.5em;
  }

  footer .footer__top .footer__icons {
    margin: 0em;
  }

  footer .footer__info {
    margin-top: 2.5em;
  }
  footer .footer__info p {
    font-size: medium;
  }
}
