* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

header .header__title-link {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

header .header__title-link .header__title {
  text-transform: uppercase;
  font-family: "Concert One", cursive;
  font-size: x-large;
  color: black;
}

header .header__title-link .header__links {
  display: none;
}

header .header__icon-login {
  display: none;
}

header .header__icon-login i {
  margin-right: 2em;
}

header .header__icon-login a {
  margin-right: 2em;
  font-family: "Noto Sans KR", sans-serif;
}

/* content */

/* footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f3142;
  color: white;
  padding: 24px 12px;
}

footer .footer__title {
  text-transform: uppercase;
  font-family: "Concert One", cursive;
  font-size: xx-large;
  color: white;
}

footer .footer__menu {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin: 10px 12px;
}

footer .footer__menu a {
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  margin: 10px 0;
}

footer .footer__icons {
  margin: 16px 0;
}

footer .footer__icons a {
  margin: 8px 12px;
  border-radius: 50%;
}

footer .footer__icons i {
  color: white;
}

footer .footer__icons i:hover {
  color: skyblue;
}

footer .footer__info {
  margin: 10px 0;
}

footer .footer__info p {
  font-size: x-small;
  font-family: "Noto Sans KR", sans-serif;
}

@media screen and (min-width: 768px) {
  header .left-placer {
    display: none;
  }

  header .header__title-link .header__title {
    margin-right: 1.5em;
  }

  header .header__title-link .header__links {
    display: flex;
  }

  header .header__title-link .header__links a {
    margin-left: 0.75em;
    font-family: "Noto Sans KR", sans-serif;
  }

  header .header__icon-login {
    display: flex;
    justify-items: flex-end;
  }

  header .header__menu {
    display: none;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 36px;
  }

  footer .footer__menu {
    flex-direction: row;
    justify-content: center;
    align-self: center;
  }

  footer .footer__menu a {
    margin-right: 10px;
  }

  footer .footer__info {
    display: block;
  }
}
